# For data visualisation only

In [1]:
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd

In [12]:
df_state=pd.read_csv("dataset/covid_19_india.csv", sep=",")

In [13]:
df_state.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [14]:
df_state.tail()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
9216,9217,07/12/20,31,Telengana,-,-,264606,1474,273858
9217,9218,07/12/20,32,Tripura,-,-,32110,373,32897
9218,9219,07/12/20,33,Uttarakhand,-,-,71489,1285,77997
9219,9220,07/12/20,34,Uttar Pradesh,-,-,524860,7924,554944
9220,9221,07/12/20,35,West Bengal,-,-,470223,8723,502840

In [15]:
df=df_state.copy()

In [22]:
df1=df.drop(["Time"], axis=1)

In [24]:
df1.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,Kerala,1,0,0,0,1
1,2,31/01/20,Kerala,1,0,0,0,1
2,3,01/02/20,Kerala,2,0,0,0,2
3,4,02/02/20,Kerala,3,0,0,0,3
4,5,03/02/20,Kerala,3,0,0,0,3

In [25]:
//apple_mobility = pd.read_csv('https://covid19-static.cdn-apple.com/covid19-mobility-data/2019HotfixDev15/v3/en-us/applemobilitytrends-2020-10-21.csv', sep=",")

SyntaxError: invalid syntax (<ipython-input-25-bdc30dccf364>, line 1)

In [27]:
age_details = pd.read_csv('dataset/AgeGroupDetails.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/AgeGroupDetails.csv'